/* PaymentPage.css */

.payment-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #f06292;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ede3e5;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  width: 30px;
  height: 30px;
  background-color: #d81b60;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.completed {
  background-color: #d81b60;
}

.active {
  background-color: #d81b60;
}

.payment-methods {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.payment-methods i {
  font-size: 24px;
  cursor: pointer;
  color: #ec407a;
}

.payment-methods .selected {
  color: #ad1457;
}

.payment-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #f06292;
  border-radius: 4px;
  background-color: #fce4ec;
}

.pay-button {
  width: 100%;
  padding: 10px;
  background-color: #d81b60;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pay-button:hover {
  background-color: #d81b60;
}

.payment-summary {
  border-top: 1px solid #d81b60;
  padding-top: 20px;
}

.payment-summary h4 {
  color: #070606;
}

.payment-summary p {
  color:#0e0e0e;
}
